.App {
    text-align: left;
    
  }
  
  .App-logo {
    height: 150px;
    text-align: left;
    pointer-events: none;
    vertical-align: middle;
  }
  
  .App-header {
    background-color: #FDC135;
    min-height: 150px;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .Text-head {
    font-size: 60px;
    margin-top: 25px;
  }
  .Text-head2 {
    font-size: 20px;
    margin-top: 25px;
  }
  
  .Form-head {
    vertical-align: text-top;
  }
  .Table-head {
    text-align: right;
  }
  
  .profile {
    font-size: 20px;
    margin-top: 25px;
    text-align: right;
    vertical-align: top;
  }
  
  .right {
    text-align: right;
  }

